@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    color: lightgray;
    border: 1px solid black;
    height: 100vh;
}
#console{
    background-color: #2d3436;
    height: 256px;
    width: 512px;
    padding: 16px;
    border-radius: 16px;
}